.avatar-img {
  /*   padding-top: 1em; */
  /*   margin-top: -20px; */
}
body {
  font-family: "Lato", sans-serif;
  background-color: #1e5271;
}

.mdl-layout__header-row {
  height: 48px !important;
}

.mdl-layout__header {
  min-height: 48px !important;
}

.header-color {
  font-family: "Lato", sans-serif;
  background: linear-gradient(90deg, #1c3643 0, #273b47 25%, #1e5372);
}

.mdl-layout__drawer-button {
  margin: 0 !important;
  display: none !important;
}

.mdl-layout__drawer {
  font-family: "Lato", sans-serif;
  width: 240px;
  height: 100% !important;
  max-height: 100%;
  /* position: fixed !important; */
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  border-right: 2px solid yellow !important;
  background: #212529 !important;
  z-index: 200 !important;
  transition: transform 0.3s ease-out !important;
  /* z-index: 0 !important; */
}

.mdl-layout__title,
.mdl-layout__drawer > .mdl-layout-title a {
  /*   line-height: 56px; */
  line-height: 5px !important;

  /*  padding-left: 16px; */
  color: white !important;
}
.mdl-layout-title a {
  margin-top: 10px;
  padding-top: 10px;
}

.mdl-layout__drawer .mdl-navigation {
  flex-direction: column;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  -ms-grid-row-align: stretch;
  align-items: stretch;
  padding-top: 0px;
  color: white !important;
  line-height: 0px !important;
}
.mdl-layout__drawer .mdl-navigation a {
  color: white !important;
  margin-top: 10px !important;
}

.mdl-layout__drawer .mdl-navigation {
  margin-top: -30px !important;
}

.mdl-layout__title a {
  color: white !important;
}

.mdl-navigation__link {
  font-weight: 700 !important;
  opacity: 1 !important;
  line-height: 0px !important;
}

.mdl-layout__content {
  -ms-flex: 0 1 auto;
  position: relative;
  display: inline-block;
  overflow-y: auto;
  overflow-x: hidden !important;
  flex-grow: 1;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
}

.landing-grid {
  background: #373b44;
  background: -webkit-linear-gradient(to right, #4286f4, #373b44);
  background: linear-gradient(to right, #4286f4, #373b44);
  text-align: center;
  height: 100vh;
}

.projects-grid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-grid img {
  height: 50px;
}

.projects-grid h2 {
  font-size: 14px;
  color: white;
  font-weight: 600;
  margin-top: 7px;
  margin-bottom: 2px;
  line-height: 0px !important;
}

.mdl-card {
  font-family: "Lato" sans-serif;
  justify-content: center;
  align-content: center;
  /*  background: rgb(255,255,255); */
  background: transparent !important;
  /* align-items: center; */
}
.mdl-button {
  border-radius: 3px !important;
  margin-left: 5px !important;
  font-family: "Lato" !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  text-transform: none !important;
  /* will-change: box-shadow; */
}

.mdl-button.mdl-button--colored {
  color: white !important;
  background-color: #95ca3e;
  padding-left: 20px;
  font-family: "Lato" sans-serif !important;
  justify-content: space-between !important;
  align-content: center !important;
  text-align: center !important;
}

.mdl-button :hover {
  background: black !important;
  color: white;
}

.mdl-card__actions {
  font-size: 16px;
  line-height: normal;

  padding: 4px !important;
  font-family: "Lato" sans-serif !important;

  justify-content: center !important;
  align-items: center !important;
  align-content: center !important;
  /* margin-left: 5px; */
}
.mdl-card__actions.mdl-card--border {
  border-top: 0px !important;
}

.mdl-card__supporting-text {
  color: white !important;
  font-size: 1rem;
  line-height: 18px;
  overflow: hidden;
  padding: 16px 16px;
  width: 95% !important;
  padding: 10px 16px !important;
  text-align: justify;
}
.contact-body {
  width: 100%;
  justify-content: center;
  padding-top: 2em;
  background: linear-gradient(to right, #1e5372, #4286f4, #1e5372);
  /*  background: url("./assets/images/stars.svg"), #1b1b25; */
}
.mdl-grid {
  padding: 0px !important;
  font-family: "Lato" sans-serif;
  align-items: center !important;
}
.mdl-cell {
  /*  border: red 1px solid; */
  font-family: "Lato";
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 90%;
  height: 580px;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: "Anton", sans-serif;
  font-size: 30px;
  margin-top: -100px;
  margin-bottom: 2px;
}

.contact-grid p {
  font-weight: 400;
  font-size: 16px;
}

.contact-grid hr {
  border-top: 5px dotted #00b84e;
  width: 50%;
  margin: auto;
}
.contact-list h2 {
  font-size: 30px;
  color: rebeccapurple;
}

.contact-list i {
  font-size: 30px;
  padding-right: 4rem;
}

.acerca-mi-body {
  background: url("./assets/images/stars.svg"), #1b1b25;
  width: 100%;
  /* justify-content: center; */
  padding-top: 0em;
  /* color: white; */
}

.acerca-mi-grid {
  text-align: justify;
  /* justify-content: center; */
  width: 90%;
  height: 580px;
  color: white;
  /* margin-bottom: 20px; */
}

.acerca-me h4 {
  text-align: center;
  /* padding: auto; */
  margin: 2px;
  background-color: #82ad36;
  border-radius: 5px;
  /* width: 90%; */
  text-align: justify;
  text-align: center;
  font-family: "Lato";
}
.acerca-me-tres h4 {
  text-align: center;
  /* padding: auto; */
  margin: 2px;
  background-color: #82ad36;
  border-radius: 5px;
  /* width: 90%; */
  text-align: justify;
  text-align: center;
  font-family: "Lato";
}

.acerca-mi-grid hr {
  border-top: 5px dotted #00b84e;
  margin: auto;
}
.acerca-me p {
  margin: 5px;
}

.acerca-me {
  margin-top: -50px;
}
.resume-right {
  color: black;
  padding: -2em;
  padding-top: 1em;
}

.resume-right h2 {
  margin: 2px;
  font-size: 34px;
}
.resume-right h4 {
  font-size: 25px;
}

.resume-right p {
  font-size: 16px;
  text-align: justify;
}
.resume-right-col {
  background: linear-gradient(90deg, #1e5372 0, #273b47 25%, #1e5372);
  color: white;
  padding: 1em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  margin-top: 10px !important;
  font-family: "Lato";
  width: auto;
}
.resume-right-col h2 {
  padding-top: 0.1em;
  margin: 0;
  padding: 2px;
  font-size: 22px;
  font-weight: 600;
  line-height: 20px;
  text-align: justify;
  text-align: center;
  background-color: #82ad36;
  border-radius: 5px;
  width: 25%;
}

.resumen-social-links {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 1px;
}
.resumen-social-links i {
  color: black;
  opacity: 0.9;
  font-size: 3em;
  padding: 15px;
  margin-bottom: 1px;
}

.resumen-social-links hr {
  margin: 0 !important;
}
.fa-heart {
  color: red;
}

.educacion {
  align-items: center;
  padding-top: 0px;
  padding-bottom: 0px;
}
.educacion p {
  vertical-align: center;
}

.educacion-descripcion p {
  margin-bottom: 1px !important;
}

.skill-col p {
  margin: -1px;
  font-weight: 600;
  line-height: 15px;
}
.educacion-descripcion h4 {
  margin-bottom: 1px;
}

.experiencia-grid {
  align-items: center;
}

.experiencia-grid h4 {
  margin-bottom: 1px;
}

.experiencia-grid p {
  margin-bottom: 1px;
  line-height: 20px;
}

.habilidades.grid {
  text-align: justify;
}

.mdl-progress .progressbar {
  background-color: #00b84e !important;
  border-top: 5px solid #00b84e !important;
  z-index: 1;
  left: 0;
}

.banner-text {
  background-color: black;
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted #00b84e;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 4px;
}

.App-link {
  color: #61dafb;
}

.material-icons {
  display: block;
}

.fa-briefcase {
  padding-right: 0.4rem;
}

.fa-graduation-cap {
  padding-right: 0.4rem;
}
.fa-user {
  padding-right: 0.4rem;
}
.fa-building {
  padding-right: 0.4rem;
}
.fa-id-card {
  padding-right: 0.4rem;
}

.fa-whatsapp {
  color: #00b84e;
  font-weight: bold;
}
.fa-phone-square {
  color: antiquewhite;
}
.fa-envelope {
  color: tan;
}
.fa-twitter {
  color: #006dbf;
  border: white;
}
.fa-js {
  color: yellow;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 600px) {
  .mdl-layout__drawer-button {
    margin: 0 !important;
    display: block !important;
  }

  /* .name {
    background-color: green !important;
  } */
  .material-icons {
    color: red;
    /*   background-color: white; */
    border-radius: 30px;
    font-size: 30px !important;
  }
  .projects-grid {
    flex-direction: column;
  }
  .banner-text {
    width: 90%;
    height: 90%;
    justify-content: space-between;
  }
  .banner-text h1 {
    font-size: 40px;
  }

  .banner-text p {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .social-links {
    width: 100%;
  }
  .social-links i {
    /*  color: red; */
    font-size: 4em;
    padding: 8px;
  }

  .mdl-list__item .mdl-list__item-primary-content {
    font-size: 16px !important;
    color: white;
  }
  .contact-list i {
    padding-right: 1rem;
  }
  .mdl-list__item {
    padding: 0% !important;
    letter-spacing: 0em !important;
  }
  .resume-right-col h2 {
    padding-top: 0.1em;
    margin: 0;
    padding: 2px;
    font-size: 22px;
    font-weight: 600;
    line-height: 20px;
    text-align: justify;
    text-align: center;
    background-color: #82ad36;
    border-radius: 5px;
    width: 100%;
  }
  .contact-grid h2 {
    font-family: "Anton", sans-serif;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 2px;
  }
  .acerca-me {
    margin-top: 40px;
  }
  .acerca-me p {
    margin-top: 20px;
  }
}
